/* header */
header {
    width: 100%;
    height: 170px;
}
header .container{
    flex-direction: column;
    height: 170px;
}
header .container .logo{
    margin-top: 10px;
    width: 100%;
    position: relative;
}
header .container .logo a{
    font-size: 24px;
}

header .container .menu{
    margin-top: 10px;
    width: 100%;
    background-color: beige;
}
header .container .menu ul{
    display: flex;
    flex-direction: column;
    width: 100%;

}
header .container .menu ul li{
    max-width: 100%;
    text-align: center;
    display: block;
    border-bottom: 1px solid #ddd;
}
header .icon{
    width: 50%;
    display: flex;
    position: absolute;
    top: 15px;
    right: 0px;
}

/* slider */
slider{
    height: 207px;
}
slider div.slider-container .slider-item img{

    height: 207px;
}
.slider-item h2{
    line-height: 30px;
    letter-spacing: 5px;
}

.slider-item h2 span, .slider-item h2 small{
    text-transform: uppercase;
    display: block;
    font-size: 10px;
}

/* best-seller  */
best-seller ul{
    flex-direction: column;
}
best-seller ul li{
    flex-basis: 100%;
    margin-top: 15px;
    margin-left: 0px;
}
best-seller ul li:nth-child(1){
    text-align: center;
}
best-seller ul li img{
    width: 100%;
}

/* shipping */
shipping{
    height: 340px;
}
shipping ul{
    flex-wrap: wrap;
}
shipping ul li{
    flex-basis: 100%;
    margin-top: 10px;
}

/* promotion */
promotion{
    height: 1050px;
}
promotion ul{
    flex-wrap: wrap;
}
promotion ul li{
    flex-basis: 100%;
}

/* product-feature */
product-feature ul li{
    flex-basis: 100%;
    margin-top: 15px;
}
product-feature ul li img{
    width: 100%;
}

/* footer */
footer{
    height: 400px;
}
footer ul{
    flex-wrap: wrap;
    height: 400px;
}
footer ul li{
    width: 100%;
}
footer ul li input{
    width: 60%;
}
footer ul li .form button{
    font-size: 10px;
    width: 40%;
}
footer ul span img{
    width: 50%;
}
footer .copyright{
    flex-wrap: wrap;
}
footer .copyright p{
    width: 100%;
    text-align: center;
}

